<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

<div id="overlay"></div>
<div id="app"></div>
<div id="test"></div>
<script type="text/template" id="main-template">
<div id="container">
	<header>
		<h1 class="workout-weeks" data-phase="<%= ip %>" data-week="<%= iw %>">Phase <%= ip + 1 %>: <span>Week <%= iw + 1 %></span></h1>
	</header>
	<ul id="days">
	<% _.each( days, function( day, di ) { %>
		<li class="day" data-id="<%= di %>">
			<div class="dayName"><%= day %></div>
			<div class="dayContent"></div>
		</li>
	<% }); %>
	</ul>
</div>
</script>

<script type="text/template" id="workout-title-template">
	<% _.each( workouts, function( workout, wi ) { %>
		<% if ( !_.contains(active, workout.title) ) { %>
			<div data-id="<%= wi %>" data-title="<%= workout.title %>" class="workout-title"><%= workout.title %></div>
		<% } %>
	<% }); %>
	<div class="hr"></div>
	<% _.each( cardio, function( c, ci ) { %>
		<div data-title="<%= c %>" class="workout-title cardio-title">
			<%= c %>
			<div class="info" ><!-- 30:00 - 2.81m - 332c--></div>
		</div>
	<% }); %>
	<div class="hr">
	<div class="workout-title cardio-title running">Running</div>
</script>

<script type="text/template" id="exercise-template">
<li data-id="<%= ei %>">
	<div class="exname"><%= ex.name %></div>
	<div class="sets"><%= ex.sets %> x <%= ex.reps %></div>
	<div><img src="<%= ex.image %>" /></div>
	<div class="weight"><div contentEditable="true"></div></div>
</li>
</script>

<script type="text/template" id="workout-template">
<div class="workout-card" data-phase="<%= phase %>" data-week="<%= week %>" data-wonum="<%= wonum %>">
	<h2><%= workout.title %></h2>
	<ul>
		<% _.each(workout.exercises, function(exercise, i) { %>
			<%= partial('#exercise-template', {ex: exercise, ei:i}) %>
		<% }); %>
	</ul>
</div>
</script>

<script type="text/template" id="cardio-template">
<div class="cardio-card" data-phase="<%= phase %>" data-week="<%= week %>" data-cnum="<%= cnum %>">
	<h2><%= cardio %></h2>
	<table cellpadding="5" cellspacing="0">
		<tr>
			<th>Time</th>
			<th>Distance</th>
			<th>Calories</th>
		</tr>
		<tr>
			<td><input type="text" class="time"></input></td>
			<td><input type="text" class="distance"></input></td>
			<td><input type="text" class="calories"></input></td>
		</tr>
	</table>
</div>
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="js/shortcuttosize.js"></script>
<script src="js/datastore.js"></script>
<script type="text/javascript">

var App = {
	days : ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
	templates : {
		cardioTemplate : $('#cardio-template').html(),
		exerciseTemplate : $('#exercise-template').html(),
		workoutTemplate : $('#workout-template').html(),
		workoutTitleTemplate : 	$('#workout-title-template').html(),
		mainTemplate : $('#main-template').html()
	},
	cardio : cardio,
	routine : routine,
	activeWorkouts : [],
	activeDay : []
}, ds = DataStore;

App.Utils = App.Utils || {};

App.Utils.ready = true;
App.Utils.refresh = function() {
	var h = 0;
	$('li').height('auto');
	$('li').each(function() {
		if( $(this).height() > h ) h = $(this).height();
	});
	$('li').height(h);
};

App.Utils.open = function( $el ) {
	$('#overlay').append( $('<div id="workout-titles"></div>').html( $el ) ).fadeIn();
	$('#overlay').click( App.Utils.close );
}

App.Utils.close = function(e) {
	if( e ) {
		if( $( e.target ).attr('id') == 'overlay' ) {
			$('#overlay').empty().fadeOut();
		}
	}
	else {
		$('#overlay').empty().fadeOut();
	}
}

App.enterWeight = function($weight) {
	var $el = $weight.find('div');
	var lbs = $el.text();
	if( lbs != '' && !isNaN(lbs) ) {
		$text = $el.text().replace(/lbs/g, '');
		$el.text( $text + 'lbs' );
		$el.trigger('blur');

		// send data ajax
		var wo = $weight.parents('.workout-card');
		console.log( wo );
		var data = {
			type : 'workout',
			phase : wo.attr('data-phase'),
			week  : wo.attr('data-week'),
			wonum : wo.attr('data-wonum'),
			name : $weight.siblings('.exname').html(),
			weight : $text,
			daynum : '',
			weeknum : Date.weeknum
		};
		console.log( data );
	}
};

App.enterCardio = function( $cardio ) {
	console.log( $cardio );
	var data = {
		type : 'cardio',
		phase : wo.attr('data-phase'),
		week  : wo.attr('data-week'),
		name : '',
		time : '',
		distance : '',
		calories : '',
		daynum : '',
		weeknum : Date.weeknum
	};
};

App.initCalendar = function() {
	if( this.startWeek == undefined ) return;
	this.week = Date.weeknum - this.startWeek;
	this.phase = this.week / 4;
	var template = _.template( this.templates.mainTemplate, {
		ip : this.week,
		iw : this.phase,
		days : this.days
	});

	$('#app').html( template );
};

App.initData = function() {
	// retrieve data from datastore
	// figure out week and phase
	// populate accordingly - another function
	//DataStore.add(test);
	this.startWeek = ds.init();


}

App.initListeners = function() {
	var that = this;
	// processClicks
	// processHovers
	// processTitlesS
	// processWorkouts
	$('.dayContent').dblclick(function() { that.showTitles(this); that.activeDay = $(this); });
	$(document).on('click', '#workout-titles .workout-title', function() { that.addWorkout( $(this) ); });
	$(document).on('click', '.dayContent .workout-title', function() { that.showWorkout( $(this) ); });
	$(document).on('blur', '.weight', function() { that.enterWeight( $(this) ); });
	$(document).on('blur', '.cardio-card input', function() { that.enterCardio( $(this) ); });
	$(document).on('focus', '.weight, .cardio-card input', function() {
		$this = $(this);
		$(document).on('keydown', function(e) {
			if( e.keyCode == 13 ) {
				$this.trigger('blur');
				return false;
			}
		});
	});
}
App.init = function() {
	this.initData();
	this.initCalendar();
	this.initListeners();
};

App._data = function( $el ) {
	if( $el.hasClass('cardio-title') ) {
		var data = {
			type : 'cardio',
			name : $el.attr('data-title'),
			daynum : $el.parents('.day').attr('data-id'),
			weeknum : Date.weeknum
		};
	}
	else {
		var data = {
			type : 'workout',
			wonum : $el.attr('data-wonum'),
			name : $el.attr('data-title'),
			daynum : $el.parents('.day').attr('data-id'),
			weeknum : Date.weeknum
		}
	}

	return data;
};

/***
METHODS
*/

App.showTitles = function() {
	var template = _.template( this.templates.workoutTitleTemplate, {
		workouts : this.routine.phases[ this.phase ].weeks[ this.week ].workouts,
		cardio : this.cardio,
		active : this.activeWorkouts
	});

	if( this.Utils.ready ) this.Utils.open( template );
	return template;
};

App.addWorkout = function( $workout ) {
	var $el = this.activeDay;
	if( this.getWorkout( $el ).length > 0 && !$workout.hasClass('cardio-title') ) {
		this.removeWorkout( this.getWorkout( $el ) );
	}
	if( $workout.hasClass('cardio-title') ) {
		// check duplicates
		// addend num
		if( $workout.hasClass('running') ) {
			this.Utils.ready = false;
			$('.cardio-title').eq(0).click();
			this.Utils.ready = true;
			$('.cardio-title').eq(0).click();
			return false;
		}
		var title = $workout.attr('data-title'),
		dupes = $('.cardio-title[data-title="'+title+'"]', $el).length;
		if( dupes > 0 ) {
			$workout.attr('data-title', function(i, t) { return t + ' ' + parseInt(dupes + 1) });
		}
	}
	$el.append( $workout );

	if( !$workout.hasClass('cardio-title') ) {
		this.activeWorkouts.push( $workout.text() );
	}
	if( this.Utils.ready ) {
		this.Utils.refresh();
		this.Utils.close();
	}

	DataStore.add( this._data($workout) );
};

App.removeWorkout = function( $workout ) {
	this.activeWorkouts = _.without( this.activeWorkouts, $workout.text() );
	$workout.remove();
};


App.showWorkout = function($el) {
	if( $el.hasClass('cardio-title') ) {
		var template = _.template( this.templates.cardioTemplate, {
			cardio  : $el.html(),
			phase   : this.phase,
			week    : this.week,
			cnum 	: $el.attr('data-id'),
		});
	}
	else {
		var template = _.template( this.templates.workoutTemplate, {
			workout : this.routine.phases[ this.phase ].weeks[ this.week ].workouts[$el.attr('data-id')],
			phase   : this.phase,
			week    : this.week,
			wonum 	: $el.attr('data-id'),
			partial : function( id, vars ) {
				vars.partial = this.partial;
				return _.template( $(id).html(), vars );
			}
		});
	}

	this.Utils.open( template );
	$('.cardio-card input:eq(0)').trigger('focus');
};

App.getWorkout = function( $day ) {
	return $day.find('.workout-title').not('.cardio-title');
};

App.getCardio = function( $day ) {
	return $day.find('.workout-title').not('.cardio-title');
};



App.test = function() {
	var template = _.template( this.templates.workoutTemplate, {
		workout : this.routine.phases[ 0 ].weeks[ 0 ].workouts[0],
		phase   : 0,
		week    : 0,
		wonum 	: 0,
		partial: function( id, vars ) {
			vars.partial = this.partial;
			return _.template( $(id).html(), vars );
		}
	});
	$('#test').html( template );
};
$(function() {
	App.init();
	//App.test();
})
</script>
</body>
</html>