.action {
  position: fixed;
  bottom: 42px;
  right: 42px;
}

.action .btn {
  font-size: 25px;
  margin-left: 15px;
}

.action .btn a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
