.form-group {
  display: flex;
  height: 55px;
}

.control-label {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  font-weight: normal;
}

.focused .control-label {
    font-size: 16px;
    color: #337ab7;
    opacity: 1;
    transform: scale(0.75);
}

.form-control {
  align-self: flex-end;
}

.form-control::placeholder {
  color: transparent;
  transition: 240ms;
}

.form-control:focus::placeholder {
    transition: none;
}

.focused .form-control::placeholder {
    color: #bbb;
}

[type=submit] {
  margin-top: 42px;
}
