.form-group {
  display: flex;
  height: 55px;
  margin-bottom: 42px;
}

.control-label {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  font-weight: normal;
  font-size: 20px;
}

.focused .control-label {
    font-size: 16px;
    color: #337ab7;
    opacity: 1;
    transform: scale(0.75);
}

.form-control {
  align-self: flex-end;
  font-size: 20px;
  text-align: center;
}

.form-control::placeholder {
  color: transparent;
  transition: 240ms;
  text-align: left;
}

.form-control:focus::placeholder {
    transition: none;
}

.focused .form-control::placeholder {
    color: #bbb;
}

[type=submit] {
  margin-top: 42px;
}

.entry-form {
  margin-top: 12vh;
}

@media (min-width: 768px) {
  .form-control {
    font-size: 16px;
  }

  .entry-form {
    margin-top: 0;
  }
}