body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

a {
  margin: 0 40px;
  color: #fff;
  text-decoration: none;
}

a.link {
  color: lightblue;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}